body {

    background-color: rgb(244, 244, 244);

    font-family: Arial, sans-serif;

    margin: 20px;

}

.main-heading {

    color: red;

    font-size: larger;

    text-align: center;

}

.subtitle {

    color: orange;

    text-align: center;
}

.sec{

    color: brown;

    background-color: aqua;
}

.internal-example{

    color: pink;

    background-color:plum;

    font-style: inherit;
}

.external-example{

    color: cornflowerblue;

    font-style: unset;
}

.color-example{

    background-color: chocolate;
}

.green-text{

    color: green;
}

.purple-text{

    color: purple;
}

.grey-text{

    color: grey;
}

.background-box{

    background-color: cornflowerblue;
}
.font-example{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    font-size: 25px;

    font-weight:bolder;
}
.left-text{

    text-align: left;
}
.center-text{

    text-align: center;
}
.right-text{

    text-align: right;
}