body {

    background-color: white;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    margin: 20px;
}

.main-heading {

    text-align: center;

    color: red;

    font-display: block;

    text-decoration: underline;
}

.subtitle {

    text-align: center;

    color: grey;
}

.basic-model-card {

    background-color: wheat;

    padding: 20px;

    width: 200px;

    border: 5px solid blue;

    margin: 30px;

}

.padding-box {

    background-color: aliceblue;

    width: 500px;

    border: 10px solid rebeccapurple;

    margin: 25px;

    padding: 15px;

}

.margin-box {

    background-color: bisque;

    margin: 50px;

    padding: 25px;

    border: 7px solid black;
}

.solid-border {

    width: 100px;

    margin-top: 50px;

    margin-bottom: 50px;

    padding: 50px;

    border: 10px solid green;

}

.dashed-border {

    width: 100px;

    margin-top: 50px;

    margin-bottom: 50px;

    padding: 50px;

    border: 10px dashed violet;

}

.rounded-border {

    width: 100px;

    margin-top: 50px;

    margin-bottom: 50px;

    padding: 50px;

    border: 10px solid orangered;

    border-radius: 15px;

}

.size-box {

    width: 200px;

    height: 100px;

    background-color: aqua;

    padding: 50px;

    border: 10px black;

    margin: 50px;

    border-style: groove;

}

.shadow-card {

    background-color: white;

    width: 300px;

    padding: 20px;

    border-radius: 10px;

    box-shadow: 0px 0px 15px blue;
}