body {

    margin: 0;

    font-family: Arial, sans-serif;

}


.navbar {

    background-color: darkblue;

    color: white;

    padding: 10px;

    position: sticky;

    top: 5px;
}

.nav-links {

    list-style: none;

}

.nav-links li {

    display: inline-block;

    margin-right: 20px;

}

.nav-links a {

    color: white;

    text-decoration: none;

}

.hero-section {

    background-color: aqua;

    text-align: center;

    padding: 80px;

}

.block-box {

    background-color: orange;

    display: block;

    padding: 20px;

    margin-bottom: 20px;

}

.inline-box {

    background-color: pink;

    padding: 20px;

}

.inline-block-box {

    display: inline-block;

    width: 150px;

    height: 100px;

    background-color: lightgreen;

    margin-right: 20px;

    text-align: center;

    line-height: 100px;

}

.relative-box {

    width: 200px;

    height: 100px;

    background-color: yellow;

    position: relative;

    top: 20px;

    left: 30px;

}

.fixed-button {

    position: fixed;

    bottom: 20px;

    right: 20px;

    padding: 15px;

    background-color: darkblue;

    color: white;

    border: none;

}

.sticky-box {

    position: sticky;

    padding: 20px;

    top: 80px;

    color: blanchedalmond;

    background-color: purple;

}

